<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/crud.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    {% include '../menu.html' %}
<main>
    <div class="container">
        <div class="divForm">
            <form onsubmit="/genero" id="form-genero" method="post">
                {{form}}
                {% csrf_token %} <!-- Token CSRF: código gerado para não dar erro no submit do campo Gênero -->
                <input type="submit" id="submit-button" value="Alterar">
            </form>
        </div>
    </div>
</main>

</body>
</html>